{% extends 'index.html' %}

{% block wfpage %}
  <html data-wf-page="5f8e623f7cdaba74364c3c49" data-wf-site="5f8b4b25f245d42df31cf09d">
{% endblock %}

{% block bodyName %}
  <body class="body-2">
{% endblock %}

{% block mainContent %}
<style>
  #form {
    width: 100%;
    margin-left: 500px;
  }
</style>
<div id="form">
  <h1 class="heading-2">Tell us more about you</h1>
  <div class="w-form">
    <form method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" data-wait="Please wait..." class="submit-button w-button"></form>
    <div class="w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
      <div>Oops! Something went wrong while submitting the form.</div>
    </div>
  </div>
  <a href="../" style="color: white;">
    <div class="submit-button w-button" style="background-color: rgb(201, 72, 72); text-align: center;">
      Cancel
    </div>
  </a>
</div>
{% endblock %}