{% extends 'index.html' %}

{% block wfpage %}
    <html data-wf-page="5faaf2b4ddedb897f2df8a41" data-wf-site="5f8b4b25f245d42df31cf09d">
{% endblock %}

{% block mainContent %}

  <div class="w-layout-grid grid">
    <div id="w-node-05b6cacc241a-f2df8a41" class="card">
      <div class="columns-4 w-row">
        <div class="w-col w-col-3"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/271deea8-e28c-41a3-aaf5-2913f5f48be6/de782zi-6b9f477b-982c-4b43-8ca8-c0f48079a538.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjcxZGVlYTgtZTI4Yy00MWEzLWFhZjUtMjkxM2Y1ZjQ4YmU2XC9kZTc4MnppLTZiOWY0NzdiLTk4MmMtNGI0My04Y2E4LWMwZjQ4MDc5YTUzOC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.XmbKUZUdv_XV2iJkhrOJ_V4M1-uKBkJ7ZVOpjQi9oGU" loading="lazy" width="235" alt="" class="pics"></div>
        <div class="w-col w-col-9">
          <ul role="list" class="goallist">
            {% if hasGoals %}
                {% for goal in singleGoal %}
                    {% if goal.goal_type == 0 %}
                        <li class="goals">{{ goal.description }}</li>
                    {% endif %}
                {% endfor %}

            {% else %}
                <li class="goals">Enter goal here</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="goalgroup w-row">
        <div class="w-col w-col-3"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/271deea8-e28c-41a3-aaf5-2913f5f48be6/de782yo-20b21194-b73e-4016-96aa-c8e50b981ccb.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjcxZGVlYTgtZTI4Yy00MWEzLWFhZjUtMjkxM2Y1ZjQ4YmU2XC9kZTc4MnlvLTIwYjIxMTk0LWI3M2UtNDAxNi05NmFhLWM4ZTUwYjk4MWNjYi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.cLXvgMIxWfwdpTOPCwhIUNK-QVjG-wsUk8UsI4W5VnM" loading="lazy" width="235" alt="" class="pics"></div>
        <div class="w-col w-col-9">
          <ul role="list" class="goallist">
            {% if hasGoals %}
                {% for goal in singleGoal %}
                    {% if goal.goal_type == 1 %}
                        <li class="goals">{{ goal.description }}</li>
                    {% endif %}
                {% endfor %}

            {% else %}
                <li class="goals">Enter goal here</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="w-row">
        <div class="w-col w-col-3"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/271deea8-e28c-41a3-aaf5-2913f5f48be6/de782xt-3f3557da-bb13-4379-bf7c-9570613ba91b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjcxZGVlYTgtZTI4Yy00MWEzLWFhZjUtMjkxM2Y1ZjQ4YmU2XC9kZTc4Mnh0LTNmMzU1N2RhLWJiMTMtNDM3OS1iZjdjLTk1NzA2MTNiYTkxYi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.DKGt9_S5lkveFcKVUSyR-_ScDj5GZ721UKZXz_2IJfw" loading="lazy" width="235" alt="" class="pics"></div>
        <div class="w-col w-col-9">
          <ul role="list" class="goallist">
            {% if hasGoals %}
                {% for goal in singleGoal %}
                    {% if goal.goal_type == 2 %}
                        <li class="goals">{{ goal.description }}</li>
                    {% endif %}
                {% endfor %}

            {% else %}
                <li class="goals">Enter goal here</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="w-row">
        <div class="w-col w-col-3"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/271deea8-e28c-41a3-aaf5-2913f5f48be6/de7d4re-c476256f-21df-4c38-9556-f78d4cadd85c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjcxZGVlYTgtZTI4Yy00MWEzLWFhZjUtMjkxM2Y1ZjQ4YmU2XC9kZTdkNHJlLWM0NzYyNTZmLTIxZGYtNGMzOC05NTU2LWY3OGQ0Y2FkZDg1Yy5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.wJobA1dtMzArjvDfL608HR6LzK90rfm-MvLYpUPqNqI" loading="lazy" width="235" alt="" class="pics"></div>
        <div class="w-col w-col-9">
          <ul role="list" class="goallist">
            {% if hasGoals %}
                {% for goal in singleGoal %}
                    {% if goal.goal_type == 3 %}
                        <li class="goals">{{ goal.description }}</li>
                    {% endif %}
                {% endfor %}

            {% else %}
                <li class="goals">Enter goal here</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="w-layout-grid grid">
    <div id="w-node-05b6cacc241a-f2df8a41" class="card">
      <div class="columns-4 w-row">
        <div class="w-col w-col-3"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/271deea8-e28c-41a3-aaf5-2913f5f48be6/de782zi-6b9f477b-982c-4b43-8ca8-c0f48079a538.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjcxZGVlYTgtZTI4Yy00MWEzLWFhZjUtMjkxM2Y1ZjQ4YmU2XC9kZTc4MnppLTZiOWY0NzdiLTk4MmMtNGI0My04Y2E4LWMwZjQ4MDc5YTUzOC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.XmbKUZUdv_XV2iJkhrOJ_V4M1-uKBkJ7ZVOpjQi9oGU" loading="lazy" width="235" alt="" class="image-13 pics"></div>
        <div class="w-col w-col-9">
          <ul role="list" class="goallist">
            {% if hasGoals %}
                {% for goal in singleGoal %}
                    {% if goal.goal_type == 0 %}
                        <li class="goals">{{ goal.description }}</li>
                    {% endif %}
                {% endfor %}

            {% else %}
                <li class="goals">Enter goal here</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="goalgroup w-row">
        <div class="w-col w-col-3"><img src="images/food0.png" loading="lazy" width="235" alt="" class="pics"></div>
        <div class="w-col w-col-9">
          <ul role="list" class="goallist">
            {% if hasGoals %}
                {% for goal in singleGoal %}
                    {% if goal.goal_type == 1 %}
                        <li class="goals">{{ goal.description }}</li>
                    {% endif %}
                {% endfor %}

            {% else %}
                <li class="goals">Enter goal here</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="w-row">
        <div class="w-col w-col-3"><img src="images/sleep0.png" loading="lazy" width="235" alt="" class="pics"></div>
        <div class="w-col w-col-9">
          <ul role="list" class="goallist">
            {% if hasGoals %}
                {% for goal in singleGoal %}
                    {% if goal.goal_type == 2 %}
                        <li class="goals">{{ goal.description }}</li>
                    {% endif %}
                {% endfor %}

            {% else %}
                <li class="goals">Enter goal here</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="w-row">
        <div class="w-col w-col-3"><img src="images/run0.png" loading="lazy" width="235" alt="" class="pics"></div>
        <div class="w-col w-col-9">
          <ul role="list" class="goallist">
            {% if hasGoals %}
                {% for goal in singleGoal %}
                    {% if goal.goal_type == 3 %}
                        <li class="goals">{{ goal.description }}</li>
                    {% endif %}
                {% endfor %}

            {% else %}
                <li class="goals">Enter goal here</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}




