body {
    
}

#navbar {
    width: 30vw;
    height: auto;
}

#logo {
/*    margin-right: 50px;*/
}

#logo-img {
    width: 80px;
    margin: 20px;
}

#logo-txt {
    width: 150px;
}
.jumbotron {
    
    
}

#tasks>.jumbotron { 
    border-radius: 50px;
    font-size: 500px;
    margin: 0;
    height: 33vh;
}

#bigText {
  font-size: 5em;
}

a, a:hover, a:active, a:visited {
  color: black;
  text-decoration: none;
}

#nav, #social {
    display: block;
    margin: 20px;
/*    background-color: #5199ad;*/
/*    text-align: center;*/
/*
    position: fixed;
    height: 100vh;
    width: 30%;
*/
}

#nav>h1 {
    margin: 20px;
}

#nav>div>h4 {
    margin-bottom: 50px;
}

#nav>.jumbotron, #social>.jumbotron {
    background-color: #5199ad;
}








#body {
    width: 50vw;
    text-align: center;
    align-content: center;
}

.card {
    width: 80%;
    padding: 10px;
/*    max-width: 50%;*/
/*    min-width: 45%;*/
}